@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.about {
  &__inner {
    display: flex;
    align-items: center;
    padding-right: max(15px, calc((100% - 1216px) / 2));
  }

  &__image {
    flex-shrink: 0;
    margin-right: rem(127);
    width: calc(100% - 620px);
  }

  &__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 493px;
    translate: 0 12px;
  }

  h2:not(.title) {
    margin-bottom: 40px;
    line-height: 1.26;
  }
}
