@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  margin-bottom: rem(40);

  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 576px;
  }

  &__slogan {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    border-radius: 61px;
    padding: 8px 16px 8px 8px;
    width: fit-content;
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--color-white);
    gap: 8px;

    &::before {
      content: "";
      position: relative;
      width: 20px;
      height: 20px;
      background-image: url("../images/icons/easy.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__content {
    padding: rem(60) 0;
    width: 100%;
    max-width: 445px;
  }

  p {
    margin-bottom: rem(40);
    line-height: 1.6;
    color: var(--color-white);
  }

  .btn {
    padding: 13px 24px;
    font-size: 18px;
    color: var(--color-grey-10);
  }

  &--products,
  &--services {
    #{$root}__inner {
      justify-content: center;
      p {
        margin-bottom: rem(46);
      }
    }
  }

  &--products {
    #{$root}__inner {
      h1,
      p {
        color: var(--color-dark-900);
      }
    }
  }

  @include media(tablet) {
    &::before {
      width: 100%;
      background-color: var(--color-white);
      opacity: 0.8;
    }

    &__inner {
      padding: 16px 0;
      min-height: 380px;
    }

    &__content {
      max-width: 100%;
      translate: none;
    }
  }
}
