@use "header";
@use "nav";
@use "btn";
@use "burger";
@use "opened";
@use "keyframes";
@use "policy";
@use "footer";
@use "cards";
@use "contacts";
@use "hero";
@use "service";
@use "values";
@use "tabs";
@use "products-cards";
@use "faq";
@use "single-products";
@use "single-projects";
@use "news";
@use "project";
@use "reviews";