@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.news {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &--home {
    .cards__content {
      h3 {
        font-size: clamp(18px, 0.9167rem + 0.9259vi, 28px);
      }
    }
  }
}
