@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.service {
  padding: 60px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__content {
    width: 100%;
    max-width: 493px;
  }

  .link {
    margin-bottom: rem(40);
  }
}
