@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.service {
  padding: rem(60) 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__content {
    width: 100%;
    max-width: 493px;
  }

  .link {
    margin-bottom: rem(40);
  }

  &--main {
    padding: rem(78) 0;

    .title {
      margin-bottom: rem(40);
    }

    .service__content {
      translate: 0 11px;
    }
  }

  @include media(tablet) {
    &--main {
      padding: 35px 0;

      .service__content {
        translate: 0;
      }

      .title {
        margin-bottom: 20px;
      }
    }
  }

  @include media(mobile-l) {
    &__inner {
      flex-direction: column;
    }

    &__content {
      max-width: 100%;
    }
  }
}
