@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.tabs {
  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: rem(60);
    gap: 21px;
  }

  .btn {
    &.selected {
      color: var(--color-white);
      background: var(--gradient-green);
    }
  }
}
