@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  --radius-big: 82px;

  height: var(--vh);
  font-family: var(--font-family-primary);
  font-weight: var(--fw-300);
  font-style: normal;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--color-black);
  background-color: var(--color-grey-10);
  // bacround-color: grey;
  font-optical-sizing: auto;
  scroll-padding: var(--header-height);

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }

  @include media(mobile-l) {
    --radius-big: 16px;
  }
}

.section,
.background {
  margin-bottom: rem(60);

  @include media(tablet) {
    padding: rem(32) 0;
  }
}

.background {
  background-color: var(--color-yellow-50);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}

.main {
  &--news {
    padding-top: calc(var(--header-height) + 60px);
  }
}

.logo {
  margin-right: rem(121);
  width: 100%;
  max-width: 275px;

  @include media(tablet-wide) {
    max-width: 230px;
  }
}


 .link {
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    font-weight: var(--fw-400);
    font-size: 24px;
    line-height: 1.25;
    color: var(--color-green-900);
    gap: 16px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.4s linear;

    &::after {
      content: "";
      position: relative;
      width: 32px;
      height: 32px;
      background-image: url("../images/icons/arrow.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:hover {
      text-decoration-color: var(--color-green-900);
    }
  }
