@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.benefits {
  margin-bottom: 55px;
  &__image {
    position: relative;
  }

  &__content {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 595px;
    transform: translate(105px, -4px);
    border-radius: calc(var(--radius-main) * 3);
    padding: 24px 40px;
    backdrop-filter: blur(72px);
    background: rgba(0, 19, 55, 0.6);
    color: var(--color-grey-10);

    h2 {
      margin-bottom: 24px;
      line-height: 1.26;
    }
  }
}
